button {
        background-color: rgb(196, 196, 196);
        color: black;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
      }

      .is-toggled {
        background-color: black;
        color: white;
      }